spring:
  datasource:
    url: jdbc:h2:mem:onlinebank;DB_CLOSE_DELAY=-1;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  h2:
    console:
      enabled: true
server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: warn
